[submodule "pagoshop-ms-product"]
	path = pagoshop-ms-product
	url = git@github.com:Adson-Gomes-Oliveira/pagoshop-ms-product.git
[submodule "pagoshop-ms-account"]
	path = pagoshop-ms-account
	url = git@github.com:Adson-Gomes-Oliveira/pagoshop-ms-account.git
[submodule "pagoshop-ms-order"]
	path = pagoshop-ms-order
	url = git@github.com:Adson-Gomes-Oliveira/pagoshop-ms-order.git
[submodule "pagoshop-ms-payment"]
	path = pagoshop-ms-payment
	url = git@github.com:Adson-Gomes-Oliveira/pagoshop-ms-payment.git
